
<table>
  <tr>
    <th width="10%">Category</th>
    <th width="40%">Description</th>
    <th></th>
    <th></th>
  </tr>

<% @categories.each do |category| %>
  <tr>
    <td><font color="red"><%= category.title %><font></td>
    <td style="text-align:center;"><i><%= category.desc %><i></td>
    <td><button><%= link_to 'Edit', edit_category_path(category) %></button></td>
    <td><button><%= link_to 'Destroy', category, confirm: 'Are you sure?', method: :delete %></button></td>
  </tr>
<% end %>
</table>

<br />
<a href="/categories/new"><button class="btn-primary btn">New Category</button></a>
