<div id="name" class="row">
    
<div id="name" class="span5 offset3">
    
<h1>Bookmark your sites here</h1><br>
<div class="tabbable well"> <!-- Only required for left/right tabs -->
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">Log In</a></li>
    <li><a href="#tab2" data-toggle="tab">Sign Up</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab1">
			<form action="/profile/sign" method="post" accept-charset="utf-8" class="form-inline"> 
			<input type="text" name="username" placeholder="username" class="input-small"> 
			<input type="password" name="password" placeholder="password" class="input-small"> 
			<input type="submit" value="Submit" class="btn"> 
			</form> 
    </div>
    <div class="tab-pane" id="tab2">
			<form action="/profile/signup" method="post" accept-charset="utf-8" class="form-vertical">
			<input type="text" name="username" placeholder="username" class="input-medium"><br>
			<input type="password" id="password" name="password" placeholder="password" class="input-medium"><br>
			<input type="password" id="verifypassword" name="verifypassword"  placeholder="verify password" class="input-medium" onblur="verifypwd()"><br>
			<p><input type="submit" value="Submit" class="btn"></p>
			</form>
    </div>
  </div>
</div>
</div>


</div>



