<form action="/profile/sign" method="post" accept-charset="utf-8"> 
<input type="text" name="username" value=""> 
<input type="password" name="password" value=""> 
<input type="submit" value="Submit"> 
</form> 
<br>
<br>
<br>
<a href="/profile/new"><button>sign up</button></a>
