<form action="/profile/signup" method="post" accept-charset="utf-8">
name : <input type="text" name="username" value=""><br>
password : <input type="password" id="password" name="password" value=""><br>
confirm password : <input type="password" id="verifypassword" name="verifypassword" onblur="verifypwd()"><br>
<p><input type="submit" value="Submit"></p>
</form>


